/* app css stylesheet */
body {
	background-color: #F2F2F2;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.navbar {
	height: 60px;
}
 
.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    padding: 3px 0;
   
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.navbar-brand img{
	max-height: 48px;
}
.content{
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.content.cars .row{
	background-color: #ffffff;
	padding: 10px 0;
	border: 3px solid #E6E6E6;
	margin: 10px 0;
}
.no-padding {
		padding-left: 0;
		padding-right: 0;
	}


ul.desc{
	list-style-type: none;
	padding-left: 0;
}
ul.desc li{
	padding: 5px 0; 
}
span.car-title{
	font-size: 1.2em;
	font-weight: bold;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
span.location {
	color: #696969;
}
.price span {
	color: #F36519;
	font-size: 1.2em;
	font-weight: 600;
}
span.price{
	color: #F36519;
	font-size: 1.2em;
	font-weight: 600;
}
footer {
	background-color: #1A1A1A;
	padding: 10px 0;
}
.footer {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.footer img {
	max-height: 48px;
}
p.copyright {
	text-align: center;
	color: #ffffff;
}
/**
.row {
	display: table;
}
**/


.content-desc{
	background-color: #ffffff;
	border: 2px solid #E6E6E6;
	padding: 15px; 
}
article.car-desc{
	padding: 30px 15px 0 0;  
}
.content.details {
	padding-bottom: 40px;
}
.form-inline.search {
	text-align: right;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon span {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
ul.pagination {
	width: 100%;
	text-align: center !important;
}
li.number-page {
	text-align: center;
	display: inline-block;
}
li.number-page a{
	background: none;
	border: none;
	color: #434343;
}
li.number-page.active a {
	background-color: #1259b3 !important;
	border-radius: 3px ;
}
li.number-page.disabled a{
	background: none;
	border: none;
}

li.previous a{
	border: 1px solid #000000 !important;
	color: #6a6a6a !important;	
}
li.next {
	float: right;
}
li.next a{
	background: #1659a7;
	color: #ffffff;
}
li.next a:hover{
	background-color:#1659a7; 
	color: #ffffff;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: #1a1a1a;
  color: #ffffff;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.goToTop
{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100000;
    cursor: pointer;
    margin: 15px;
    border: none;
   
}
.display-title {
	margin-bottom: 20px;
}
.range-label {
	text-align: left;
}