@media (min-width: 768px ) {
	.content-desc {
		left: 10px;
	}
	.row [class*="col-"] {
	    float: none;
	    display: table-cell;
	    vertical-align: top;
	}
	.car-thumbnail {
		padding-left: 10px;
	}
}
@media (max-width: 479px) {
	.display-title{
		text-align: center;
	}
}