<ul class="pagination" ng-if="1 < pages.length">
    <!--<li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
        <a href="" ng-click="setCurrent(1)">&laquo;</a>
    </li>-->

    <div class="range-label">Displaying {{ range.lower }} - {{ range.upper }} of {{ range.total }} Results</div>
    <li ng-repeat="pageNumber in pages track by $index" class="number-page" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
        <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>
    <li class="col-md-12 no-padding">
        <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="previous">
            <a href="" ng-click="setCurrent(pagination.current - 1)">&lsaquo; <span class="hidden-xs">Previous Page</span></a>
        </li>
        <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="next">
            <a href="" ng-click="setCurrent(pagination.current + 1)"><span class="hidden-xs">Next Page</span> &rsaquo;</a>
        </li>
        <!--<li ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
            <a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
        </li>-->
        
    </li>
</ul>