<div class="col-md-9 col-xs-12 content details" id="content">
	
		<div class="row">
		
			<h4>Hyundai Gets Sedan 2009</h4>
			<div class="col-md-9 col-sm-12 col-xs-12 no-padding">
				<img src="{{main_picture}}" class="img-responsive" alt="">
			</div>

			<div class="col-md-3 col-sm-12  col-xs-12 content-desc">
				<ul class="desc">
				 	<span class="price">{{template.price}}</span>
				 	<li><span class="glyphicon glyphicon-map-marker location">{{template.location}}</span></li>
				 </ul>
				 <article class="car-desc">
				 	<p ng-init="limit = 150; moreShown = false" >
				 		 {{template.description | limitTo: limit}}
				 	</p>
				 	<a ng-show="template.description.length > limit"
				       href ng-click="limit=template.description.length; moreShown = true">  ..
				    </a>
				    <a ng-show="moreShown" href ng-click="limit=150; moreShown =    false"> Less </a>
				 </article>
			</div>
	</div>
</div>
